.contact-page {
    .content {
        .bg {
        }

        .social-content {
            h1 {
            }
            .socials {
                width: 100%;
                flex-wrap: wrap;

                ul {
                    width: 100%;
                    li {
                        .call {
                            &:last-child {
                            }
                            .head {
                            }
                            a {
                            }
                        }
                        a {
                        }
                        svg {
                            * {
                            }
                        }
                    }
                }
            }
            .map {
                iframe {
                }
            }
        }
    }
}
