.main-info-blocks {
    margin: 50px 0;
    .content {
        .block {
            padding: 10px 5px;
            width: 30%;

            min-width: 300px;
            .bg {
                svg {
                    g {
                    }
                    * {
                    }
                }
            }
            .block-content {
                .logo {
                    svg {
                    }
                }
                .text {
                    .head {
                        font-weight: 200;
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .add {
                        font-weight: 200;
                        font-size: 19px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
